* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    line-height: 1.5;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#section-race{
    width: 80%;
    background-color: rgb(206, 141, 236);
}

div.paragraph-text {
    user-select: none;
}

div.race-details {
    width: 100%;
    min-height: 250px;
    background-color: turquoise;
    padding: 10px;
    display: flex;
    justify-content: center;
}

div.section-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

input#typing-text {
    margin-top: 30px;
    width: 100%;
}

div.section-buttons {
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: center;
}
span.error {
    background-color: red;
}

span.correct {
    background-color: green;
}