@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url('https://i.ytimg.com/vi/8BcBNaSo8EQ/maxresdefault.jpg');
  background-image: url('/img/backk2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  min-height: 100vh;
}

div#section-race {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;
}

.user {
  display: flex;
  justify-content: center;
  margin: 0.3em;
  padding: 0em 0.5em;
  /* background-color: rgba(245, 245, 180, 0.4); */
}

.race-ground {
  background-image: url('/img/ground.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 15%;
  border-radius: 8px;
  box-shadow: 0.5px 2px 5px 0.5px #000000;
  margin-right: 2%;
}

.character-and-ground {
  width: 70%;
}

.username-char {
  display: flex;
}

.character-path {
  width: 85%;
  position: relative;
}

.races {
  width: 88%;
  margin: auto;
  /* border: 2px rgb(255, 255, 255,1) solid; */
  border-radius: 1em;
  /* padding: .5em; */
  /* background-color: rgb(255, 255, 255,.6); */
  /* box-shadow: 1px 5px 20px -11px #000000; */
}

.results {
  border-left: 15px rgb(255, 255, 250) solid;
  border-radius: 0.2em;
  padding: 0.3em;
  background-color: rgba(255, 255, 255, 0.6);
  margin: auto;
  width: 26%;
  box-shadow: 1px 5px 27px -14px #000000;
}

.door {
  width: 6%;
  height: 4%;
  align-self: center;
  margin-right: 2%;
}

.results img {
  width: 15%;
  height: 50%;
  margin-right: 1%;
}

.results p {
  width: 75%;
  margin: 0%;
  font-size: small;
  display: inline;
}

div.character {
  position: absolute;
  left: 0%;
}

div.character span {
  position: absolute;
  font-weight: 600;
  font-size: 11px;
}

img.character {
  width: 4em;
}

.user:nth-child(4) .character,
.user:nth-child(5) .character {
  width: 3em;
}

.mistakes-and-speed {
  display: flex;
}

.wood {
  background-image: url('/img/board.png');
  height: 45vh;
  background-repeat: no-repeat;
  width: 60%;
  margin: 1.5% auto;
  padding: 3%;
  /* animation-name: zoom-in-zoom-out; */
  animation-duration: 2s;
  display: grid;
  grid-template-rows: 40% 55%;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.1, 0.1);
  }
  50% {
    transform: scale(0.1, 0.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.paragraph {
  border: 5px rgb(184, 182, 182) groove;
  border-radius: 0.2em;
  padding: 0.3em;
  background-color: rgba(255, 255, 255, 0.7);
  margin: auto;
  width: 90%;
}

.textarea {
  border: 5px rgb(172, 171, 171) groove;
  border-radius: 0.2em;
  padding: 0.3em;
  background-color: rgba(255, 255, 255, 0.7);
  width: 90%;
  margin: auto;
}

div.paragraph-text {
  user-select: none;
}

span.error {
  background-color: rgb(235, 159, 159);
}

span.correct {
  background-color: rgb(152, 214, 152);
}

div.spect-counter {
  background-image: url('/img/views-wood.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 6px 0;
  height: 48px;
  width: 68px;
  right: 0.6%;
  top: 5px;
  font-size: 14px;
}
div.spect-counter p {
  margin: 0;
  padding: 0;
}
div.spect-counter p:first-child {
  font-weight: 700;
}

div.waiting-container {
  background-image: url('/img/waiting-wood.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 6px 0;
  height: 245px;
  width: 231px;
  top: 0;
  left: calc(50% - 230px / 2);
  font-size: 15px;
  font-weight: bold;
  z-index: 1000;
}

div.waiting-container span {
  position: absolute;
  font-size: 16px;
  top: 59%;
  transform: rotateZ(5deg);
}

#main-section{
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
}
section#section-name-form{
margin: 0;
}
#name-form{
  position: relative;
  width: 591px;
  height: 569px;
  background-image: url('/img/login.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 84px;
}
#name-section{
  position: absolute;
  background: url('/img/input.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 315px;
  height: 100px;
  top: 48%;
  left: 31%;
}

#name{
  position: absolute;
  background: none;
  width: 209px;
  height: 57px;
  border: none;
  top: 22px;
  left: 68px;
  font-size: 26px;
  text-indent: 25px;
  caret-color: white;
  color: white;
}
#name:focus{
  outline: none;
}

label{
  position: absolute;
  top: 44%;
  left: 31%;
  color: rgb(26, 9, 9);
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;

}

#submit{
  background: url('/img/button.png');
  width: 150px;
  height: 75px;
  background-size: contain;
  position: absolute;
  top: 399px;
  left: 258px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;

}

#submit:hover{
  filter: brightness(1.2);
  transition: transform 0.2s ease-in;
}

#submit:active{
  transform: translate(-0.5%,-1%);
  transform: translateZ(1%);
}

#active-races{
  position: relative;
  background-image: url('/img/races.png');
  width: 420px;
  height: 656px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

#races-area{
  position: absolute;
  font-family: 'El Messiri', sans-serif;
  font-size: 33px;
  font-weight: bold;
  color: #FEDB3C;
  margin-top: 181px;
  margin-right: 83px;
}
.race{
  background-image: url('/img/race1.png');
  width: 240px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-bottom: 8px;

}

#active-races h2{
  position: absolute;
  font-family: 'El Messiri', sans-serif;
  font-size: 33px;
  font-weight: bold;
  color: #FEDB3C;
  margin-top: 24%;
  margin-right: 20%;
}
.view{
  background: url('/img/view.png');
  background-size: cover;
  height: 50px;
 width: 50px;
  border: none;
  cursor: pointer;
  font-family: 'El Messiri', sans-serif;
  color:rgb(26, 9, 9);
  font-weight: bold;
  font-size: 18px;

}
.view:hover{
  filter: brightness(1.2);
  transition: transform 0.2s ease-in;
}

.view:active{
  transform: translate(-0.5%,-2%);
  transform: translateZ(-1%);
}
p.race-info{
  text-indent: 10px;
  font-family: 'El Messiri', sans-serif;
  color:rgb(26, 9, 9);
  font-weight: bold;
  font-size: 18px;
}

/* START MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe00;
  margin: auto;
  padding: 0;
  width: 50%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }
  to {
      top: 0;
      opacity: 1
  }
}

@keyframes animatetop {
  from {
      top: -300px;
      opacity: 0;
      transform: scale(1.5) perspective(.5px)
  }
  to {
      top: 0;
      opacity: 1;
      transform: scale(1) perspective(.5px)
  }
}

.modal-body {
  padding: 2px 16px;
  margin: auto;
  background-image: url("/img/pop.png");
  background-repeat: no-repeat;
  width: 529px;
  height: 636px;
  background-size: contain;
}

.modal-footer {
  padding: 2px 16px;
  margin: auto;
  color: rgba(255, 255, 255, 0);
  width: 700px;
  bottom: 88px;
  position: absolute;
  left: -4%;
  bottom: 13%;
}

.paly_quit_buttons {
  margin: 0 25%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.play_btn {
  height: 70px;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  background-image: url("/img/play.png");
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 80%;
}

.quit_btn {
  height: 70px;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  background-image: url("/img/quit.png");
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 80%;
}

.quit_btn:hover,
.play_btn:hover {
  opacity: 100%;
  transform: scale(1.2) perspective(.5px)
}

.final_result {
  text-align: center;
  color: #f1c489;
  font-size: 22px;
  font-family: cursive;
  position: absolute;
  top: 200px;
  left: 136px;
  width: 349px;
}


/* END MODAL */